/*PC、スマホ共通スタイル*/
* {
  box-sizing: border-box;
}

p{
  font-size: 15px;
}

body{
  max-width: 1080px;
  margin: 0 auto 0 auto;
  font-family: "source Sans Pro","Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
}
/*ヘッダー*/
header{
  display: flex;
  justify-content: space-between;
}

/*ナビゲーションのレイアウト*/
#nav-pc {
  font-size: 14px;
}
#nav-pc ul {
  display: flex;
  padding-left: 0;
}
#nav-pc li{
  list-style: none;
}

/*　ナビゲーションのリンクの装飾設定　*/
#nav-pc a{
  text-decoration: none;
  margin-left: 20px;
  color: #0d0d0d;
}
#nav-pc a:hover{
  text-decoration: underline;
}

/*メインビジュアル*/
#main-visual{
  position: relative;
  height: 400px;
}
#main-message{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2710d5;
  color: #ffffff;
  border-radius: 0 0 476px 0;
  max-width: 620px;
  height: 100%;
  width: 100%;
  z-index: 11;
}

#main-message  > h1{
  font-size: 60px;
  margin: 100px 0 0 50px;
}
#main-message > p {
  font-size: 28px;
  margin: 0 0 0 50;
}